<h1>Редактировать курс {{course.title}}</h1>
{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}
<form action="/courses/edit" method="POST" style='margin-bottom: 1.3rem' novalidate>
    <div class="input-field">
        <input name='title' id="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название" data-success="right"></span>
    </div>

    <div class="input-field">
        <input name='price' id="price" type="text" class="validate" required value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену" data-success="right"></span>
    </div>

    <div class="input-field">
        <input name='image' id="image" type="text" class="validate" required value="{{course.image}}">
        <label for="image">URL картинки</label>
        <span class="helper-text" data-error="Введите картинку" data-success="right"></span>
    </div>

    <input type="hidden" name="id" value='{{course.id}}'>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class='btn btn-primary' type="submit">Редактировать</button>
</form>

<form action="/courses/remove" method='POST'>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn red" type="submit">Удалить</button>
</form>